{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<div id="target"></div>

<div class="User">
    {{if auth.user_id is None:}}
        {{=A('Sign Up', _class='btn btn-danger', _href=URL('default', 'user', args=['register']))}}
		{{=A('Sign In', _class='btn btn-success', _style='margin-left: 10px', _href=URL('default', 'user', args=['login']))}}
	{{else:}}
        {{=A('New Pet', _class='btn btn-success', _href=URL('default', 'addpet'))}}
    {{pass}}
</div>

<div class="search">
    <td class="line_check"><input type="checkbox" unchecked="{% request.vars.house_trained %}"/></td> House Trained <br>
    <td class="line_check"><input type="checkbox" unchecked="{% request.vars.kid_friendly %}"/></td> Kid Friendly <br>
    <td class="line_check"><input type="checkbox" unchecked="{% request.vars.pet_friendly %}"/></td> Pet Friendly <br>
    <td class="line_check"><input type="checkbox" unchecked="{% request.vars.outdoor_pet %}"/></td> Outdoor Pet <br>
    <td class="line_check"><input type="checkbox" unchecked="{% request.vars.indoor_pet %}"/></td> Indoor Pet <br>
    <td class="line_check"><input type="checkbox" unchecked="{% request.vars.frequent_exercise %}"/></td> Frequent Exercise <br>
    <td class="line_check"><input type="checkbox" unchecked="{% request.vars.infrequent_exercise %}"/></td> Infrequent Exercise <br>
    <td class="line_check"><input type="checkbox" unchecked="{% request.vars.young_pet %}"/></td> Young Pet <br>
    <td class="line_check"><input type="checkbox" unchecked="{% request.vars.older_pet %}"/></td> Older Pet <br>
    {{=A('Submit', _class='btn btn-primary')}}
</div>

<script id="template" type="text/ractive">

</script>

<h2>Learn more about these Pets!</h2>
<div class="petsearch">


</div>
{% #if loading %}
  <div id="load_spinner">
    <i class="fa fa-spinner fa-pulse fa-5x"></i>
  </div>
{% /if %}

<script>
$(function() {

   var.MAIN = new Ractive({
      el: '#target',
      template: '#template',
      delimiters: ['{%', '%}'],
      tripleDelimiters: ['{%%', '%%}'],
      data: {
        pet_dict: {},
        pet_id: "{{=pet_id}}",
        list_o_pets: "",
        loading: true
      },
   });


   // http://stackoverflow.com/questions/105034/create-guid-uuid-in-javascript
  function generateUUID(){
    var d = new Date().getTime();
    if(window.performance && typeof window.performance.now === "function"){
        d += performance.now();; //use high-precision timer if available
    }
    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = (d + Math.random()*16)%16 | 0;
        d = Math.floor(d/16);
        return (c=='x' ? r : (r&0x3|0x8)).toString(16);
    });
    return uuid;
  }


   //add pet profile
   MAIN.on("add_pet", function(e){

   });

   //links to corresponding pet profiles
   MAIN.on("goto_pet", function(e){
      var el = $(e.node);
      var pet_id = el.data("");
      window.location = "{{=URL('default', 'pets')}}/" + pet_id;
});
</script>
