{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<div class="pet_list">
    <div id="target"></div>
</div>

<h2>Learn more about these Pets!</h2>

<div class="User">
    {{if auth.user_id is None:}}
        {{=A('Sign Up', _class='btn btn-danger', _href=URL('default', 'user', args=['register']))}}
		{{=A('Sign In', _class='btn btn-success', _style='margin-left: 10px', _href=URL('default', 'user', args=['login']))}}
	{{else:}}

    {{pass}}

</div>

<script id="template" type="text/ractive">
   <table>
     <tbody>
         <tr class="search_form">
           <td class="line_check"><input type="checkbox" checked="{% house_trained %}"/></td> House trained <br>
            <td class="line_check"><input type="checkbox" checked="{% kid_friendly %}"/></td> Kid friendly <br>
            <td class="line_check"><input type="checkbox" checked="{% pet_friendly %}"/></td> Pet friendly <br>
            <td class="line_check"><input type="checkbox" checked="{% outdoor_pet %}"/></td> Outdoor pet <br>
            <td class="line_check"><input type="checkbox" checked="{% indoor_pet %}"/></td> Indoor pet <br>
            <td class="line_check"><input type="checkbox" checked="{% frequent_exercise %}"/></td> Frequent exercise <br>
            <td class="line_check"><input type="checkbox" checked="{% infrequent_exercise %}"/></td> Infrequent exercise <br>
            <td class="line_check"><input type="checkbox" checked="{% young_pet %}"/></td> Young pet <br>
            <td class="line_check"><input type="checkbox" checked="{% older_pet %}"/></td> Older pet <br>
          </tr>
     </tbody>
   </table>
<input class="btn btn-primary" type="submit" value="Submit" on-click="do_search"/></div>

{% #if loading %}
  <div id="load_spinner">
    <i class="fa fa-spinner fa-pulse fa-5x"></i>
  </div>
{% /if %}

</script>

<script>
$(function() {

   var.MAIN = new Ractive({
      el: '#target',
      template: '#template',
      delimiters: ['{%', '%}'],
      tripleDelimiters: ['{%%', '%%}'],
      data: {
        pet_dict: {},
        pet_id: "{{=pet_id}}",
        list_o_pets: "",
        loading: true
      },
   });


   // http://stackoverflow.com/questions/105034/create-guid-uuid-in-javascript
  function generateUUID(){
    var d = new Date().getTime();
    if(window.performance && typeof window.performance.now === "function"){
        d += performance.now();; //use high-precision timer if available
    }
    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = (d + Math.random()*16)%16 | 0;
        d = Math.floor(d/16);
        return (c=='x' ? r : (r&0x3|0x8)).toString(16);
    });
    return uuid;
  }


   //add pet profile
   MAIN.on("add_pet", function(e){

   });

   //links to corresponding pet profiles
   MAIN.on("goto_pet", function(e){
      var el = $(e.node);
      var pet_id = el.data("");
      window.location = "{{=URL('default', 'pets')}}/" + pet_id;
});
</script>
