/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

div.colorful{
  color: #739001;
}

div.mydiv {
   color: #FF0000;
   line-height: 120%;
  #repeat{
     font-weight: italic;
  }
}

div.search{
   background-color: #FFFFFF;
   padding: 20px;
   margin: 30px;
   /*border: 1px solid #111111; */
   box-shadow(rgba(#111, 0.5) 0 4px 10px 2px);
   display: inline-block;
}

div.petsearch{
   background-color: lightblue;
   padding: 10px;
   height: 500px;
   margin: 15px;
   margin-top: -2%;
   padding-bottom: 3%;
   float: left;
}

.title{
    text-align: center;
    position: relative;
}

.title_block{
    background-color: lightblue;
    margin-top: -7%;
    margin-left: 1%;
}

.User{
    margin-top: 2%;
}